/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
#images {
    margin: 0 auto;
    text-align: center;
}

#moreImg {
    /*margin-top: 50px !important; */
    color: #C15B57;
    min-width: 190px;
    max-width: 250px;
    padding: 15px;
    background-color: #fff;
    border: 3px solid #C15B57;
    display: block;
    width: 150px;
    border-radius: 40px;
    font-weight: 600;
    margin: 50px auto 0;
    font-size: 18px;
    cursor: pointer;
}

#images img {
    margin-left: 5px;
    /*width: ' . (100 /(int)get_option('feed_settings_section_number_image_in_row') - 2) . '%; */
    /*width: 30%;*/
    height: 250px;
    display: inline-block;
    object-fit: cover;
}
#moreImg:hover {
    border: 3px solid #C15B57 !important;
    background-color: #C15B57 !important;
    color: #fff !important;
}
@media screen and (max-width: 576px){
    #moreImg {
        width: 150px !important;
        font-size: 20px !important;
    }
    #images img {
        width: 100% !important;
        height: 500px !important;
        margin-top: 20px;
        margin-left: 0;
    }
}

.embed-video-block {
    margin: 0 auto;
}

@media screen and (max-width: 327px){
    .embed-video-block {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}