/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.modal-header {
    border-bottom: none !important;
}

.modal-footer .btn.btn-secondary, .modal-footer .btn.btn-primary {
    background: #2271b1 !important;
    border-color: #2271b1 !important;
    color: #fff !important;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;
    text-shadow: none !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-radius: 3px !important;
    font-size: 13px !important;
    line-height: 2.15384615 !important;
    min-height: 30px !important;

}

.modal-footer .btn.btn-secondary:hover {
    background: #135e96 !important;
    border-color: #135e96 !important;
}

.modal-footer .btn.btn-primary {
    background: #f6f7f7 !important;
    color: #2271b1 !important;


}
.modal-footer {
    border-top: none !important;
}

.user-profile-set {
    /*display: flex;*/
    width: 100%;
    /*justify-content: space-around;*/
    border: 1px solid #b2ce88;
    background: #ecf2e3;
    box-sizing: border-box;
    padding: 10px 10px 50px 10px;
    border-radius: 5px;
}
.login-profile {
    display: inline-block;
    float: left;
    width: 20%;
}
.user-login {
    font-weight: 600;
    line-height: 1.4;
    font-size: 18px;
}

.profile-type {
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.4;
}

.remove-from-feed, .add-to-feed, .profile-settings, .remove-profile {
    display: inline-block;
    float: left;
    padding: 6px;
    margin-left: 10px;
    cursor: pointer;
    border: 3px solid white;

    border-radius: 6px;
    white-space: nowrap;
    box-sizing: border-box;
    background: #2271b1;

    color: #fff;
    text-decoration: none;
    text-shadow: none;
    font-size: 12px;
    line-height: 1.4;
}

.add-to-feed {

}

.profile-settings {

}

.remove-profile {
    float: right;
}

.remove-profile i, .profile-settings i, .add-to-feed i, .remove-from-feed i {
    margin-right: 5px;
}
